<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="16px" viewBox="0 0 15 16" version="1.1">
    <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
    <title>CartAlt Copy 33</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0 0 14.08 0 14.08 16 0 16"/>
    </defs>
    <g id="symbol" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="header/desktop/hd_rg_sticky" transform="translate(-981.000000, -47.000000)">
            <g id="Group-7" transform="translate(966.000000, 47.000000)">
                <g id="icons/black/Flavor_menu" transform="translate(14.500000, 0.000000)">
                    <g id="Group-3" transform="translate(0.960000, 0.000000)">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"/>
                        </mask>
                        <g id="Clip-2"/>
                        <path d="M1.40552043,6.27474037 C1.39833181,5.91706944 1.38036025,5.57966653 1.38754888,5.24464809 C1.40372328,4.65854466 1.8047286,4.15255951 2.37358827,3.99995325 C2.66352938,3.92365012 2.96185721,3.88072961 3.26497746,3.82231002 C3.29373195,3.68043388 3.31529782,3.50636736 3.36561818,3.34541545 C3.50651518,2.90238039 3.84665684,2.54983607 4.28576186,2.3916263 C4.60445746,2.25928805 4.94711514,2.18179268 5.27299936,2.06495351 C6.03499335,1.79193137 6.59091349,0.945443495 6.47110312,0.1406839 C6.47110312,0.0977633879 6.50944244,0.0464972211 6.5310083,0 C6.57653625,0.0321903838 6.64003575,0.0548428762 6.66519592,0.0989556244 C6.85569442,0.422051699 7.02462705,0.759454611 7.22710659,1.07420503 C7.485897,1.49971422 7.84700547,1.85452378 8.27784358,2.10668179 C8.48080236,2.22340173 8.70964017,2.28814017 8.94398927,2.29505514 C9.54304115,2.30578527 10.1133385,2.41427879 10.6213345,2.74810499 C11.0897931,3.05331752 11.4288565,3.45152449 11.4228659,4.04645047 C11.4102859,4.19846062 11.3850059,4.34927853 11.3473854,4.49711584 C11.6136041,4.54110937 11.8771869,4.59964818 12.1369358,4.6723746 C12.7000445,4.86074796 13.0379098,5.33525806 12.9863913,6.06013782 C12.9780046,6.17220804 12.970816,6.2854705 12.9636274,6.39277178 C13.1541259,6.51199543 13.3554073,6.63121907 13.5339248,6.76594179 C14.0958354,7.2046848 14.230023,7.80318749 13.9089312,8.4350728 C13.7249025,8.76341472 13.4909128,9.06147382 13.2152292,9.31852 C13.1362741,9.39780372 13.0781661,9.49532866 13.0462965,9.60227227 C12.6028783,11.2714033 12.1636535,12.9444687 11.7283824,14.6215877 C11.7004666,14.7073095 11.6789007,14.7950581 11.6636848,14.8838797 C11.6409208,15.0949055 11.5211105,15.1939804 11.3222252,15.2606264 C10.4905016,15.5354369 9.63781115,15.7436014 8.77266043,15.8829738 C7.87288451,16.0285459 6.96831617,16.0082779 6.06614405,15.979545 C5.2873766,15.9496198 4.51867323,15.7947483 3.78974691,15.520534 C3.41593854,15.3823537 3.05770551,15.2045913 2.68509524,15.0627152 C2.50993248,14.993327 2.38353253,14.8385747 2.3508243,14.6537781 C2.14834476,13.9384362 1.9386766,13.2159409 1.73979138,12.4946379 C1.50017063,11.6362276 1.2665404,10.7766252 1.04728741,9.91356521 C0.982589807,9.66069186 0.818449592,9.49628245 0.655507481,9.31744699 C0.296076354,8.92997015 0.0444745653,8.48288148 0.000144726295,7.95579375 C-0.00309015385,7.73773371 0.0479490662,7.52229658 0.148709592,7.32867739 C0.388330343,6.82078466 0.842411667,6.54776252 1.32644558,6.31527641 C1.35639818,6.30096958 1.38754888,6.28785498 1.41750147,6.2723559 C1.41750147,6.26639472 1.4282844,6.25804906 1.40552043,6.27474037" id="Fill-1" fill="#000000" mask="url(#mask-2)"/>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>